.image-card {
    position: relative;
}

.image-dimensions {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #e5e5e5;
}

.user-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #e5e5e5;
}

.image-description {
    position: absolute;
    white-space: nowrap;
    font-style: italic;
    font-size: 12px;
    bottom: 5px;
    color: #e5e5e5;
}

.user-name {
    position: absolute;
    white-space: nowrap;
    bottom: 40px;
    left: 40px;
}

.image-avatar {
    position: absolute;
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
    bottom: 35px;
}

.noborder{
  background: transparent !important
}
